/* General Body and Container Styles */
body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    margin-top: 25px;
}

.whole {
    background-color: white;
    max-width: 520px;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

/* Header and Logo */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    width: 150px;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

/* Button Styles */
.main-button {
    background-color: #378e47; /* A darker green to match the image */
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

.donate-button {
    background-color: #6ebf45; /* A lighter green to match the donate button */
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Space between the last main button and the donate button */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
    .whole {
        max-width: 450px;
        padding: 15px;
    }
    .main-button, .donate-button {
        font-size: 16px;
        padding: 18px;
    }
}
