@media only screen and (min-width: 650px){
body{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: white;
	margin-top: 25px;
}
.logo{
  position:  static;	
  width: 350px;
  left: 0px;
  top: 0px;
}

.whole{
   background-color: white;
   max-width: 520px;
   border: none;
   border-radius: 20px;
}

h1{
	background-color: white;
	border-radius: 5px 5px 0px 0px;
	margin: 0%;
	padding: 3%;
}
.map{
	margin: 17px;
	margin-right: 2.5%;
	width: 29%;	
	float: right;
	border-radius: 5px;
	background-color: #8ac7d1;
	border: 2px solid black;
	cursor: pointer;
	padding-right: 11.5%;
	padding-top: 15px;
	height: 10%;
}
.imag{
  padding-left: 20px;
   position: relative;
   left: 18px;
   top: 3px;
   width: 70%;
   height: 100%;
   padding-left: 12px;
} 
   
#learning{
background-color: #8ac7d1; 
	float: left;
	position: relative;
	margin-left: 10px;
	margin-top: 18px;
	padding: 49px;
	padding-bottom: 90px;
	border-radius: 20px;
	border: 2px solid black;
	padding-right: 65px;
    width: 28%;
	font-size: 26px;
}
.pic{
		border-radius: 0px 0px 5px 5px;
	background-color: #6ebf45;
	float: right;
	position: relative;
	margin-right: 0px;
	margin-top: 5px;
	padding-bottom: 15px;
	width: 139.5%;
	left: 60px;
	padding-top: 15px;
}
.alert{
   width: 22%;
   height: auto;
   padding: 20px;
   position: absolute;
   left: 0px;
   background-color: white;
   
}
.full{
	background-color:white;
	margin-top: 50%;
	text-align:center;
	margin-left: 2%;
	margin-right: 2%;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	width: 95%;
}
.rob{
   width: 33%;
   height: auto;
   margin-left: 45%;
   position: relative;
   bottom: 143px;
   left: 85px;
}
#mach{
   font-size: 30px;
   margin: 2%;
   position: relative;
   bottom: 10%;
   padding-left: 3%;
}
.quest{
	background-color: white;
	width: 87%;
	height: 98%;
	margin: 5%;
    margin-left: 2%;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	padding: 1cm;
}


.arrow{
   position: absolute;
   width: 98px;
   border-radius: 0px 0px 5px 0px;
   background-color: #8ac7d1;
   border: 2px solid black;
   cursor: pointer;
}
.al{
   margin-left: 40%;
   font-size: 25px;
}
#warning{
	font-size: 28px;
	margin-right: 120px;
	position: relative;
	left: 105px;
	top: 20px;
}
::placeholder{
   color: grey;
   font-size: 26px;
}
#find{
	width: 79.1%;
	position: relative;
	height: 61px;
	border: 2px solid black;
	border-radius: 0px 0px 0px 5px;
	background-color: #8ac7d1;
   font-size: 26px;	
}	
.L1{
	position: relative;
	bottom: 15px;
	left: 55px;
	width: 360px;
}
.D1{
 	   position: absolute;
   width: 150px;
   height: 22px;
}
}

a{
	color: black;
	
}


/*------------------------------------------------------------------------*/


@media only screen and (max-width: 600px){
body{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #6ebf45;
   margin-top: 25px;	
}	

.whole{
	background-color: white;
   max-width: 450px;
   border: none;
   border-radius: 5px;
}
h1{
	background-color: #8ac7d1;
	border-radius: 5px 5px 0px 0px;
	margin: 0%;
	padding: 4%;
	font-size: 27px;
}
.map{
	float: right;
	border-radius: 5px;
	background-color: #8ac7d1;
	border: 2px solid black;
	cursor: pointer;
	padding-right: 11.5%;
	padding-left: 2.5px;
	padding-top: 15px;
	margin: 17px;
	margin-right: 2%;
	height: 10%;
	width: 28.55%;
}
.imag{
   padding-left: 20px;
   position: relative;
   left: 18px;
   top: 3px;
   width: 70%;
   height: 100%;
   padding-left: 12px;
}
#learning{
	background-color: #8ac7d1; 
	float: left;
	position: relative;
	margin-left: 10px;
	margin-top: 18px;
	padding: 49px;
	padding-bottom: 70px;
	border-radius: 5px;
	border: 2px solid black;
	
    width: 28%;
	font-size: 26px;
}
.pic{
		border-radius: 0px 0px 5px 5px;
	background-color: #6ebf45;
	float: right;
	position: relative;
	margin-right: 0px;
	margin-top: 5px;
	padding-bottom: 15px;
	
	width: 141.5%;
	left: 51.5px;
	padding-top: 15px;
}
.alert{
   position: absolute;
   left: 0px;
   background-color: white;
   top: 10px;	
   width: 22%;
   height: auto;
   padding: 20px;
   
}
.full{

	border: 2px solid black;
	border-radius: 5px;
	position: relative;
	
	background-color:white;
	margin-top: 55%;
	text-align:center;
	margin-left: 2%;
	margin-right: 2%;
	width: 95%;
	height: auto;
}
.rob{
   width: 33%;
   height: auto;
   margin-left: 45%;
   position: relative;
   bottom: 133px;
   left: 85px;
}
#mach{
   font-size: 40px;
   margin: 2%;
   position: relative;
   bottom: 10%;
   padding-left: 3%;
}
.quest{
		background-color: #008240;
	border: 2px solid black;
	border-radius: 5px;
	position: relative;

	width: 87%;
	height: 100px;
	margin: 2%;
    margin-left: 2%;
	padding: 20px;
}


#find{
    width: 79.112%;
	position: relative;
	height: 61px;
	border: 2px solid black;
	border-radius: 0px 0px 0px 5px;
	background-color: #8ac7d1;
}
.arrow{
	position: absolute;
	
   width: 18.5%;

   border: 2px solid black;
   border-radius: 0px 0px 5px 0px;
   background-color: #8ac7d1;
   cursor: pointer;
   height: 63px;
}
.al{
   font-size: 26px;
   margin-left: 45%;
}
#warning{
	font-size: 28px;
	position: relative;
	top: 20px;
	
}
::placeholder{
   color: grey;
   font-size: 26px;
}
.L1{
	position: relative;
	bottom: 15px;
	left: 60px;
	width: 350px;
}
.D1{
	   position: absolute;
   width: 150px;
   height: 22px;
}
}
}
